form{
    margin:0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #545454;
}

html:before,
html:after,
body:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 8px solid #4479bc;
} 
html:after {
    z-index: 10;
    top: auto;
    border-width:0 0 8px;
} 
body:before {
    z-index: 10;
    bottom: auto;
    border-width: 8px 0 0;
}

.message {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}
.information {
    padding-left: 55px;
    font-weight: bold;
}
div.colLabel {
    display: table-cell;
    width: 45px;
    padding-left: 10px;
}
div.colValue {
    display: table-cell;
}
hr{
    overflow: none;
    border:none;
    border-top:solid 1px #d4d4d4;
    height:1px;
    margin: 0 5;
}
/*
Label: 宛先, Cc, Bcc
*/
table.address td.colLabel{
    vertical-align:top;
}
table.address span.label{
    padding-left: 10px;
    padding-right: 10px;
}
/*
EmailAddress
*/
.internalLabel{
    padding: 6px;
    margin-right: 10px;
    display:inline-block;
    background-color: #f4f4f4;
}
.externalLabel_confirmed{
    padding: 6px;
    margin-right: 10px;
    display:inline-block;
    background-color: #c9d1db;
/*    animation: 0.5s ease-in 0s normal 1 running scale;*/
}
.externalLabel_confirmed:hover{
    background-color: #b0c4de;
}
/*
@keyframes scale {
    0% {
        background-color: rgba(255,217,48,1.0);
    }
	99% {
	    transform: scale(1.1);
        background-color: rgba(255,217,48,0.0);
    }
	100% {
	    transform: none;
	}
}
*/
.externalLabel{
    padding: 6px;
    margin-right: 10px;
    display:inline-block;
    background-color: #ffea82;
}
.externalLabel:hover{
    background-color: #ffd930;
}

.checkbox-input{
    display: none;
}
.checkbox-span{
/*    padding-left: 20px;*/
    padding: 6px;
    position:relative;
    margin-right: 0px;
/*    font-weight: bold;*/
}
.checkbox-input:checked + .checkbox-span::before{
    background-color: #848484;
}
.checkbox-input:checked + .checkbox-span:hover::before{
    background-color: #4479bb;
}

/*
.checkbox-input:checked + .checkbox-span{
    font-weight: normal;
}
*/

/* JSON Data */
.jsonArea {
    margin: 10px;
}

/* JSON Data: label */
.jsonArea label {
    color: #848484;
    cursor :pointer;
/*    font-size: 9px;*/
    margin: 0px;
    padding: 0px;
    font-style: italic;
    border-bottom: 1px solid #848484;
}

.jsonArea label:hover {
    color: #545454;
    border-bottom: 1px solid #545454;
}

/* JSON Data: checkbox */
.jsonArea input {
    display: none;
}

/* JSON Data: div */
.jsonArea .jsonDiv {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
    border: 1px solid #545454;
    background: #f4f4f4;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* JSON Data: checkbox:checked*/
.jsonArea input:checked ~ .jsonDiv {
    height: auto;
    opacity: 1;
    color: #545454;
}
.jsonArea input:checked + label {
    color: #4479bc;
    border-bottom: none;
}

pre {
    margin: 6px;
    padding: 0px 10px 10px;
/*    font-size: 9px;*/
}
